@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #0a0a0a;
    color: #f5f5f5;
    padding: 20px;
}
h1{
    margin: 10px;
}
.container{
    width:100%;
    height: 100vh;
    display: flex;
}
.left, .right{
    flex-basis: 50%;
    padding: 10px;
}
textarea {
    width: 100%;
    height: 26%;
    background: #1f1f1f;
    color: #fff;
    resize: vertical;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
    outline: 0;
}
iframe{
    width: 100%;
    height: 80%;
    background: #252525;
    border: 0;
    outline: 0;
}
label i{
    margin-right: 10px;
    margin-left:10px;
}
label{
    display:flex;
    align-items: center;
    background: #292929;
    height: 30px;
}
#console-log {
    background-color: #333;
    color: #fff;
    overflow-y: scroll;
    padding: 4px 10px;
    max-height: 50px;
    line-height: normal;
    letter-spacing: normal;
    white-space: pre-wrap;
    font-family: monospace;
}
#console-log:empty {
    display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #252525;
}
::-webkit-scrollbar-thumb {
  background: #3b3b3b;
}

@media only screen and (max-device-width: 640px) {
.container {
    display: block;
}
  textarea {
    height: 35%;
}
  .left, .right {
    padding: 0;
}
  h1{
    margin: 10px 0;
}
}
